<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>404 Not found </title>
</head>
<body>
    <div>
        <h1 id="title">404 NOT FOUND</h1>
    </div>

    <div class="pageImage mobile">
        <img class="mobile" src="../styles/images/Scarecrow.png" alt="">
    </div>
    <div class="NotFoundMessage">
        <h1 class="title2">I have bad news for you</h1>
        <p class="Desciption">The page you are looking for might be removed or it's temporarily unavailable</p>
    </div>
    <div>
        
    </div>

    <footer>
        <p>José Jardim @ DevChallenges.io</p>
    </footer>
</body>
</html>