
body {
    font-family: none;
}

#title {
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
    font-size: 24px;
    padding-left: 77px;
    padding-top: 40px;
    height: 25px;
    width: 158px;
}

.messageArea{
    margin-top: 200px;
}

/* Grid for the image and the text */
.item1 { grid-area: image;}
.item2 { grid-area: txt;}

.grid-container{
    display: grid;
    grid-template-areas:
    'image txt';
    grid-gap: 10px;
    padding: 5px;
}

.grid-container > div {
    font-size: 30px;
  }

  /* Left side content styling */
  .img1 {
    height: 414.2492370605469px;    
    width: 539.2236938476562px;
    padding-left: 77px;
  }

  /* Right side content styling  */

  .contentArea{
    font-family: 'Space Mono', monospace;
  }

  .title2{
    width: 596px;
    height: 190px;
    font-weight: 700;
    font-size: 64px;
    margin: 0px;
    margin-bottom: 36px;
  }

  .desciption{
    height: 105px;
    width: 460px;
    padding-top: 0px;
    font-size: 24px;
    border-radius: 0px;
    margin: 0px;
    margin-bottom: 64px;
  }

  .button {
    background-color: #333333; /* Black */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    height: 68px;
    width: 216px;
  }

  /* Footer styling */
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin-bottom: 39px;
  }

 
 
 
  /* 
@media only screen and (max-width: 768px) {
    #title {
      padding-left: 24px;
      padding-top: 20px;
    }
  }

@media only screen and (min-width: 768px) {
    .pageImage img{
        float: left;
        height: 414.2492370605469px;    
        width: 539.2236938476562px;
        padding-left: 77px;
        padding-top: 200px;
        border-radius: 0px;
    }

    .NotFoundMessage h1, p {
        font-family: 'Space Mono', monospace;
        padding-left: 118px;
    }

    .NotFoundMessage h1{
        float: left;
        width: 600px;
        padding-top: 140px;
        border-radius: 0px;
        margin-bottom: 0px;
        font-weight: 700;
        font-size: 64px;
    }

    .NotFoundMessage  p{
        float: left;
        height: 400px;
        width: 500px;
        padding-top: 0px;
        font-size: 24px;
        border-radius: 0px;
    }
   
  }
@media only screen and (max-width: 768px) {
    .pageImage img{
        padding-top: 64px;
        border-radius: 0px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        height: 50%;
    }

    .NotFoundMessage h1, p {
        font-family: 'Space Mono', monospace;
        padding-left: 24px;
    }

    .NotFoundMessage h1{
        width: 450px;
        height: 142px;
        font-weight: 700;
        font-size: 48px;
    }

    .NotFoundMessage p{
        width: 450px;
        height: 81px;
        font-weight: 400;
        font-size: 18px;
    }
}
  
   */
